* {
    box-sizing: border-box;  
}
body {
    margin: 0px;
}
/* top-bar */
.top-bar{
    display: flex;
    
}
.dummy{
    display: block;
    background-color: white;
    height:100%;
    border: none;
    width:3rem;
}
.dummy:hover{
    background-color:rgb(156, 154, 154) ;
}
/* file  Container */

.newOpenSave{
    padding-left: .5rem;
    height:1.5rem;
    background-color:white;
    left:0rem;
    align-items:center;
}
.file{
    display: block;
    flex-direction: column;
    width:3rem;
    background-color: white;
   
    border: none;  
}
.file:hover{
    background-color:rgb(156, 154, 154) ;
}

.align-container{
    width:14%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;  
}


.hidden{
    display:none;
    width:5rem;
    margin-top: 1px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border:1px solid;
    height:5rem;
    border-radius: 5%;
    background-color:white;
    position:absolute;
    z-index:5;
    border:"1px solid black"
}
.show{
    display: block;
}
.openFile,.save,.new{
    background-color:white;
    width:100%;
    height:1rem;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .5rem; 
}
.openFile,.save,.new:hover{
    cursor: pointer;
}





/* ***************menu container*************/
.menu-container {
    /* border: 1px solid red; */
    height: 3rem;
    background-color:rgb(4, 58, 4);
    align-items: center;
    display: flex;
    gap:0.5rem;
    padding-left:0.5rem;
}
.menu-container *{
    border: 1px solid;
    height:60%;
}
.font-size{
    width:5%;
}
.font-family{
    width:21%;
}

.bui-container{
    width:21%;
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.bui-container>*{
    width:30%;
    height:80%;
    text-align: center;
}

.fas{
    height: 100%;
    width:100%;
    padding-top: 5px;
    background-color:whitesmoke
}
.fas:hover{
    background-color: white;
}

.color-container{
    width:10%;
    display: flex;
    align-items:center;
    justify-content:space-evenly;
    
}











/************ formula container *************/
.formula-container {
    /* border: 1px solid red; */
    height: 2rem;
    /* background-color: lightcoral; */
    display:flex;
    align-items:center;
    justify-content:space-around;
}
.formula-container>*{
    height:70%;
}
.address-input{
width:4rem;
}
.formula-input{
    width:calc(100vw - 6rem);
}
/* ********formula container */
.grid-container {
    position: relative;
    /* because we need top-row's positon to be absolute 
    so make this relative*/
    /* border: 1px solid red; */
    height: 
    calc(100vh - ( 3rem + 2rem + 2rem + 1.5rem ));
    background-color: whitesmoke;
    overflow: auto;
}
.box{
    height: 1.5rem;
    width:1.5rem;
    border:1px solid;
    text-align: center;
    position:relative;
    top:1.5rem;
}
.left-box{
    background-color:rgb(214, 210, 210);
    position: fixed;
    top:6.5rem;
    z-index: 103;
    border-right: 2px solid black;
    border-bottom:2px solid black;
}
.left-col {
    background-color: whitesmoke;
    position: sticky;
    position: -webkit-sticky;
    left:0rem;
    width:1.5rem;
    z-index: 101;
    margin-top:-1.5rem;
    
}
.top-row{
    position:sticky;
    top:0rem;
    right:0rem;
    height:1.5rem;
    background-color:white;
    display:flex;
    z-index: 101;
    margin-left:1.5rem;
    background-color: whitesmoke;
    
   
}

.grid{
    /* height:2rem; */
    background-color:rgb(255, 255, 255);
    left: 1.5rem;
    top: 1.5rem;
    position: absolute;
}
.cell{
    border: .1px solid lightgray;
    min-width: 4.4rem;
    text-align: center;
    height:1.5rem;
}

.row{
    display:flex;
}
/* sheets */
.sheets-container {
    /* border: 1px solid red; */
    background-color: rgb(180, 180, 180);
    height: 2rem;
    display: flex;
    
}
.add-sheet_btn-container{
    width: 3rem;
    border: 1px solid;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.sheet-list {
    width: calc(100vw - 3rem);
    border: 1px solid;
    display:flex;
    overflow: auto;
}
.sheet-list::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .sheet-list {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
.sheet {
    min-width: 5rem;
    /* border: 1px solid blue; */
    height: 100%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    z-index: 4;
    box-shadow:  1px 2px 1px ;
}
.sheet:hover{
    cursor: pointer;
}
.active{
    background-color:white;
}
.active-btn{
    background-color: red;
}

